<!DOCTYPE html>
<html>
<head>
    <title>Spotigen - Spotify Auth Example</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
<h1>Welcome to SpotiGen </h1>
<img src="https://www.scdn.co/i/_global/open-graph-default.png" alt="Spotify Logo">
<br>

<a href="/authorize">Connect with Spotify</a>

<a href="/get-tracks">Obtenir la liste des titres likés</a>
</body>
</html>
