@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url(https://fonts.gstatic.com/s/nunitosans/v15/pe0TMImSLYBIv1o4X1M8ce2xCx3yop4tQpF_MeTm0lfGWVpNn64CL7U8upHZIbMV51Q42ptCp7t4R-tQKr51pE8.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

body {
    font-family: "Nunito Sans";
    text-align: center;
    background-color: #191414;
    color: #1DB954;

}
h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color:#ffffff;
}
img {
    width: 100px;
}
a {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 45px;
    font-size: 16px;
    font-weight: 600;
    background-color: #1DB954;
    color: #191414;
    border-radius: 500px;
    text-decoration: none;
}
